.common__section {
    background: linear-gradient(rgba(63,63,63,0.5), rgba(112,112,112,0.5)),
      url("../assets/images/drive.jpg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
}